body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #212121;
}
* {
  padding: 0;
  margin: 0;
}
:root {
  --brand-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --grey: #757575;
  --dark-graphite: #2f303a;
  --light-grey: rgba(255, 255, 255, 0.6);
  --less-white: #f5f4fa;
}
ul {
  list-style-type: none;
}
.bg-header {
  background-color: var(--white);
  border: 1px solid #ECECEC
}
.logo-webstudio-header {
  text-decoration: inherit;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
}
.logo-webstudio-header:hover {
  color: none;
}
.logo-web {
  color: var(--brand-color);
}
.links {
  text-decoration: inherit;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
 }
 .link-html,
 .link-portfolio {
  color: var(--brand-color);
 }
.link-header-contact {
  color: var(--grey)
}
.links:hover,
.links:focus {
  color: var(--brand-color);
}
.first-section-webstudio {
  background-color: var(--dark-graphite);
}
.title-1-text {
  color: var(--white);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
.btn-order {
  background-color: var(--brand-color);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  font: Roboto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn-order:hover,
.btn-order:focus {
  color:none;
}
.second-section-webstudio {
  background-color: var(--white);
}
.second-section-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.second-section-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.main-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}
.third-section-webstudio {
  background-color: var(--less-white);
}
.third-section-team {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.person-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.person-speciality {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.bg-footer {
  background-color: var(--dark-graphite);
}
.logotype-webstudio-footer {
  text-decoration: inherit;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}

.address {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
}
.link-footer-contact {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-grey);
  color: rgba(255, 255, 255, 0.6);
}

.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
}
.button:hover,
.button:focus {
  background-color: var(--brand-color);
  color: var(--white);
}
.project {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-section {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey);
}

